{:builds
 {:app
  {:target :browser
   :output-dir "build/resources/public/assets/js"
   :asset-path "/assets/js"
   ;; If we want to load modules dynamically one day:
   ;:module-loader true
   :module-hash-names true
   ;; https://clojure.atlassian.net/browse/CLJS-3207
   :compiler-options {:cross-chunk-method-motion false}
   :modules
   {:base {:entries [cljs.core reagent.core re-frame.core]}
    :mui {:entries [schafkopf.frontend.view.mui]
          :depends-on #{:base}}
    :main {:init-fn schafkopf.frontend.core/init!
           :depends-on #{:base :mui}}}}

  :test
  {:target :browser-test
   :test-dir "build/test/browser"
   :devtools {:http-port 8081
              :http-root "build/test/browser"}}

  :node-test
  {:target :node-test
   :output-to "build/test/node/run-tests.js"}}}